<h1>日志列表 @{model.year}-@{model.month}-@{model.day}</h1>
<br />
<div>
	<h2><a href="/@{model.year}/@{model.month}/">返回</a></h2>
	<br />
	<br />
	<br />
</div>


<script type='text/javascript'>
    $(document).ready(function(){
      $("#log_contents").data('log_contents','@{!JSON.stringify(model.log_data)}');
      var str = $("#log_contents").data('log_contents');
      var j = JSON.parse(str);
      console.log(str,j);
    });
</script>

<span style="white-space: pre-line">
<div>
	<p class="p2">错误数：@{model.log_data.length}</p>
</div>
<div>
@{foreach m in model.log_data}
	<div>
	<table width="100%" class="table1" id="log_contents">
		<tr class="parent" id="row_01">
			<td bgcolor="#CCCC99"> 
			<table width="100%" class="table2">
				<tr>
					<td>时间: @{m.date} 类型：@{m.content.title}</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr class="child_row_01">
			<td>
				<table width="100%" class="table3">
						<tr >
						<td>id</td>
						<td>@{m.content.account_id}</td>
					</tr>
					<tr >
						<td>版本</td>
						<td>@{m.content.version}</td>
					</tr>
					<tr >
						<td>渠道</td>
						<td>@{m.content.channel}</td>
					</tr>
					<tr >
						<td>关卡进度</td>
						<td>@{m.content.progress}</td>
					</tr>
					<tr >
						<td>当前关卡</td>
						<td>@{m.content.currentlevel}</td>
					</tr>
					<tr >
						<td>系统信息</td>
						<td>@{m.content.sysinfo}</td>
					</tr>
					<tr >
						<td>lua stack</td>
						<td> @{m.content.luaStack}</td>
					</tr>
					@{if m.content.type === 'crash'}
					<tr >
						<td>c stack</td>
						<td> @{m.content.cstack}</td>
					</tr>
					@{fi}
					<tr >
						<td>当前UI</td>
						<td>@{m.content.currentScene}</td>
					</tr>
					<tr >
						<td>上次UI</td>
						<td>@{m.content.lastScene}</td>
					</tr>
				</table>
			</td> 

		</tr>

	</table>
	</div>
	<br />
@{end}
</div>
</span>